footer {
  background-color: #fc7f2b;
}

.logofooter {
  padding: 1.5rem 0 0 1.5rem;
}

.logofooter img {
  max-width: 12rem;
}

.logofooter p {
  padding: 0.1rem 0 0 2.2rem;
}

.atasfooter {
  display: flex;
  justify-content: space-between;
}

.navfooter {
  padding: 2rem 2rem 0 0;
  font-size: 1.3rem;
}

.navfooter a:link {
  list-style-type: none;
  text-decoration: none;
}

.navfooter a:visited {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.katafooter {
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
  line-height: 2rem;
}

.katafooter p {
  font-size: 0.9rem;
}
