.section-1 {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
}

.img-container{
  position: relative;
  padding: 0;
}

.headline span{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.lineheading {
  height: 5px;
  background-color: #0e4f6e;
}

.linekecil {
  height: 0.5px;
  background-color: black;
  width: 100%;
}


.sampingswiper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 40%;
  padding-left: 40px;
  align-items: center;
}

.isibawah{
  width: 100%;
}

.beritakecil {
  display: flex;
}
.isiberitakecil {
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
}

.isiberitakecil p{
  font-size: 13px;
  margin:0;
}

@media (max-width: 991px) {
  .section-swiper .swiper {
    width: 100%;
    height: auto;
  }
}
