.section-1 {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
}

.img-container {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.headline img {
  max-height: 500px;
  object-fit: cover;
  transition: .3s ease-in-out;

}
.headline span {
  z-index: 999;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.555);
}

.headline .img-container:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
 
}
.beritasamping {
  display: flex;
  transition: .2s ease-in-out;

}

.beritasamping:hover{
  transform: scale(1.02);
  transition: .2s ease-in-out;
  cursor: pointer;
}

.lineheading {
  height: 5px;
  background-color: #0e4f6e;
}

.linekecil {
  height: 0.5px;
  background-color: black;
  width: 100%;
}

.sampingswiper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 40%;
  padding-left: 40px;
  align-items: center;
}

.isibawah {
  width: 100%;
}

.beritakecil {
  display: flex;
  transition: .2s ease-in-out;

}
.beritakecil:hover{
  transform: scale(1.02);
  transition: .2s ease-in-out;
  cursor: pointer;
}

.beritakecil img {
  box-shadow: 4px 4px 17px -1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 17px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 4px 4px 17px -1px rgba(0, 0, 0, 0.3);
  max-height: 300px;
  object-fit: cover;
}

.isiberitakecil {
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
}

.isiberitakecil p {
  font-size: 13px;
  margin: 0;
}
.isiberitasamping {
  width: 100%;
  flex-direction: column;
  /* align-items: center; */
}

.isiberitasamping p {
  font-size: 13px;
  margin: 0;
}

.section-2{
  margin-bottom:20px;
}



@media (max-width: 991px) {
  .section-swiper .swiper {
    width: 100%;
    height: auto;
  }
}
